p {color:rgb(198, 73, 94); font-size:170%;}

h1 {color:rgb(198, 73, 94); font-size:300%;}
h2{font-size: 300%;}
h3 {color:rgb(198, 73, 94); font-size:120%;}

.galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}


p {font-family: "Galindo", sans-serif;cfont-weight: 400; font-style: normal;}
h1{font-family: "Galindo", sans-serif;cfont-weight: 400; font-style: normal;}
h2{font-family: "Galindo", sans-serif;cfont-weight: 400; font-style: normal;}
h3{font-family: "Galindo", sans-serif;cfont-weight: 400; font-style: normal;}

p{text-align:center;}
h1{text-align:center;}
h2{text-align:center;}

html{background-color: rgb(245, 169, 207);h


.highlight_01 {background-color:rgb(255, 255, 255);}

.highlight_02 {background-color:rgb(120, 41, 41);}

li {color:rgb(198, 73, 94); font-size:120%;}


/*LAB 3*/

#page {
    max-width: 900px;
    margin: 0 auto 0 auto;
    background: rgb(245, 169, 207);
    padding: 30px;
}

.top-section {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 0 0 25px 0;
}



#introduction {
    background: rgb(255, 199, 227);
    padding: 20px;
    border-left: 6px solid #1d1184;
    flex: 2;
}
#introduction h2 {
    font-style: italic;
    margin-top: 0;
}
#introduction p {
    font-size: 120%;
    line-height: 1.5;
}
G




.profile {
    text-align: center;
    flex: 1;
}
.profile img {
    width: 220px;
    border-radius: 12px;
}
.profile p {
    font-size: 90%;
}






.navigation {
    background: rgb(224, 49, 210);
    padding: 20px;
    border-radius: 12px;
}
.navigation h2 {
    margin-top: 0;
}
.navigation li {
    margin-bottom: 8px;
}
.navigation a {
    color: #1d1184;
    font-weight: bold;
}