html{background-color: rgb(245, 169, 207);h

    .galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {font-family: "Galindo", sans-serif;cfont-weight: 400; font-style: normal;}
h1{font-family: "Galindo", sans-serif;cfont-weight: 400; font-style: normal;}
h2{font-family: "Galindo", sans-serif;cfont-weight: 400; font-style: normal;}
h3{font-family: "Galindo", sans-serif;cfont-weight: 400; font-style: normal;}

h1 {color:rgb(198, 73, 94); font-size:300%;}
h2{font-size: 300%;}
h3 {color:rgb(198, 73, 94); font-size:120%;}

p{text-align:center;}
h1{text-align:center;}
h2{text-align:center;}
h3{text-align:center;}